<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/default-layout">

<!-- 페이지 제목 입력 -->
<th:block layout:fragment="title">
	<title>충전</title>
</th:block>

<!-- 현재 화면에서만 사용하는 css -->
<th:block layout:fragment="css">
	<style>
		.filter-btn{  
			margin-right: 15%;
		}
		
		.printBtn{  
			margin-left: 30%;
		}
		
		/* 충전컨테이너 */
		#charge-container {
			display: flex;
		    align-items: baseline;
		    gap: 32px;
		    padding: 48px 0;
		    margin-left: 15%;
		    margin-right: 15%;
		}
		
		/* 결제내역 컨테이너 */
		#charge-details-container {
			display: flex;
		    align-items: baseline;
		    gap: 32px;
		    padding: 48px 0;
		    margin-left: 15%;
		    margin-right: 15%;
		}
		
		/* 충전컨텐츠 */
		#charge-contents {
			flex: 3;
			padding: 32px;
			border-radius: 16px 0 0 16px;
		}
		
		/* 오른쪽 사이드바 */
		#right-sidebar {
			flex: 1;
			padding: 24px;
			border-radius: 0 16px 16px 0;
		}	
		
		#right-sidebar > ul > li {
			list-style: none;
		}
		
		/* 쿠폰중복 */	
		.input-side {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 5%;
			margin-left: 30%;
		}
		
		#coupon-code, #check-coupon {
			margin-left: auto;
		}
		
		/* 충전방법  radio css */
		.payment-method {
		    padding: 15px 10px;
		    text-align: center;
		}
		
		.payment-method input[type=radio]{
		    display: none;
		}
		
		.payment-method input[type=radio]+label{
		    display: inline-block;
		    cursor: pointer;
		    height: 24px;
		    width: 90px;
		    border: 1px solid #333;
		    line-height: 24px;
		    text-align: center;
		    font-weight:bold;
		    font-size:13px;
		}
		
		.payment-method input[type=radio]+label{
		    background-color: #fff;
		    color: #333;
		}
		
		.payment-method input[type=radio]:checked+label{
		    background-color: #333;
		    color: #fff;
		}
		 
		th, td {
			border: 1px solid black;
			text-align: left;
			padding: 8px;
		}
		 
		th {
			background-color: #cccccc;	
		}
	  
		.table {
			width: 50%;
			margin: 0 auto;
			border-collapse: collapse;
	    }
	    
	    .table th, .table td {
			text-align: center;
			padding: 8px;
		}
	</style>

	<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/style/chat-css :: chatCssFragment"></th:block>
</th:block>

<div>

	<th:block layout:fragment="content">
	
	<div class="filter-btn gap-2 d-md-flex justify-content-md-end">
		<button type="button" class="container-filter-btn btn-secondary btn-sm" id="charge-container-btn" value="chargeContainerBtn">충전하기</button>
		<button type="button" class="container-filter-btn btn-secondary btn-sm" id="charge-details-btn" value="chargeDetailsBtn">결제내역</button>
	</div>
	
	<div>
	    <h1>KKK</h1>
	    <input id="charge-status"  type="text" th:value="${chargeStatus}">
    </div>	
    
	<div id="charge-container">
	
		<div id="charge-contents">
		
			<h4>충전하기</h4>
			
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">결제 수단</th>
						<th scope="col">충전밤부 포인트 비율</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" th:each="paymentList, i : ${listPayment}">
					<tr>
						<th scope="row" th:text="${i.index + 1}"></th>
						<td th:text="${paymentList.method}"></td>
						<td th:text="${paymentList.bonusRatio}"></td>
					</tr>
				</tbody>
			</table>
			
			<div class="input-side">
			
				<input type="hidden" id = "coupon-status" name="couponStatus" value="0">								
				충전 밤부	: <input type="number" id = "charge-bamboo" name="chargeBamboo" required="required" value="5"><p/>
				<p style="font-size:12px;">결제금액이 0원인경우 결제가 되지 않습니다.</p>
				쿠폰 입력	: <input type="text" id = "coupon-code" name="couponCode" onblur="couponInsertOnBlur()" placeholder="쿠폰입력">
				<button type="button" id="check-coupon" value="쿠폰검사" onclick="couponCheck()">쿠폰검사</button><br/>
				<div><span id="onchange-check-coupon" style="font-size:12px;"></span></div>
				<div><span id="result-check-coupon" style="font-size:12px;"></span></div>
				
			</div>
			
			<div class="payment-method">
			
				<input type="radio" id="payment-method-radio1" name="paymentMethod" value="휴대폰" checked="checked">
				<label for="payment-method-radio1">휴대폰</label>
				<input type="radio" id="payment-method-radio2" name="paymentMethod" value="상품권">
				<label for="payment-method-radio2">상품권</label>
				<input type="radio" id="payment-method-radio3" name="paymentMethod" value="신용카드">
				<label for="payment-method-radio3">신용카드</label>
				<input type="radio" id="payment-method-radio4" name="paymentMethod" value="계좌이체">
				<label for="payment-method-radio4">계좌이체</label>
				
			</div>
				
		</div>	<!-- /id="charge-contents" -->
		
		<div id="right-sidebar">
		
			<h2>결제하기</h2>
			
			<ul>
				<li>
					<h6>총 보유 Bamboo</h6>
					<p id="total-bamboo"></p>
				</li>
				<li>
					쿠폰 할인 받은 금액 : <input type="number" id = "coupon-discount" name="couponDiscount" value="0" readonly="readonly">
				</li>
				<li>
					미할인 충전 금액	: <input type="number" id = "charge-money" name="chargeMoney" required="required" value="5000" readonly="readonly"><p/>
				</li>
				<li>
					적용 결제 금액 : <input type="number" id = "real-charge-money" name="realChargeMoney" value="5000" readonly="readonly">
				</li>
				<li>
					<button id="request-pay-button"  onclick="requestPay()">결제하기</button><br/>
				</li>
			</ul>
		    
		</div>	<!-- /id="right-sidebar" -->
		
	</div>	<!-- /id="charge-container" -->
	
	
	<!-- <div id="charge-details-container"> -->
	
	<!-- <div id="charge-details-container" style="display: none;">
		<h2>충전내역</h2>
	
		<table class="table">
			<thead>
				<tr>
				<th scope="col">#</th>
				<th scope="col">충전날짜</th>
				<th scope="col">충전방법</th>
				<th scope="col">충전밤부</th>
				<th scope="col">충전금액</th>
				</tr>
			</thead>
			<tbody class="table-group-divider2" th:each="chargeHistoryList, i : ${listChargeHistory}">
				<tr>
					<th scope="row" th:text="${listChargeHistory.size() - i.index}"></th>
					<td th:if="${chargeHistoryList.chargeDate != null}" th:text="${#dates.format(chargeHistoryList.chargeDate, 'yyyy-MM-dd')}"></td>
					<td th:if="${chargeHistoryList.chargeDate == null}" th:text=""></td>
					<td th:text="${chargeHistoryList.paymentMethod}"></td>
					<td th:text="${chargeHistoryList.chargeBamboo}"></td>
					<td th:text="${chargeHistoryList.paymentAmount}"></td>
				</tr>
			</tbody>
		</table>
		
		
		<div th:if="${page.startPage > page.pageBlock}">
			<a th:href="@{/charge(currentPage=${page.startPage - page.pageBlock})}">이전</a>
		</div>
		
		<div th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
		<a th:href="@{/charge(currentPage=${i}, chargeStatus='1')}" th:text="${i}"></a>
		</div>
		
		<div th:if="${page.endPage < page.totalPage}">
			<a th:href="@{/charge(currentPage=${page.startPage + page.pageBlock})}">다음</a>
		</div>
		
	</div> -->	<!-- /id="charge-details-container" -->
	
	
	
	
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
		<th:block th:replace="/common/fragment/chat :: chatFragment"></th:block>
	</th:block>
</div>

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	<script th:inline="javascript">
	
	// 충전 예상 금액 계산 후 client에 update
	$(function(){
		function updateChargeMoney(){
			
			let chargeMoney = $('#charge-money').val();
			let chargeBamboo = $('#charge-bamboo').val();
			
			chargeMoney = Math.floor(chargeBamboo * 1000);
			$('#charge-money').val(chargeMoney);
		}
		
		$('#charge-bamboo').on('input', updateChargeMoney);				

		updateChargeMoney();											
	});
	
	$(function(){
		function updateRealChargeMoney(){
			
			let chargeBamboo = $('#charge-bamboo').val();
			let realChargeMoney = $('#real-charge-money').val();
			let couponDiscount = $('#coupon-discount').val();
			let paymentMethod = $('input[name="paymentMethod"]:checked').val();
			let ratio = 1.2;
			
			if (paymentMethod == '휴대폰') {
				ratio = 1.2;
			} else if (paymentMethod == '상품권') {
				ratio = 1.2;
			} else if (paymentMethod == '신용카드') {
				ratio = 1.4;
			} else if (paymentMethod == '계좌이체') {
				ratio = 1.4;
			}
			
			realChargeMoney = Math.floor(chargeBamboo * 1000 / ratio) - couponDiscount;
			$('#real-charge-money').val(realChargeMoney);
			
		}
		
		$('#charge-bamboo').on('input', updateRealChargeMoney);				
		$('input[name="paymentMethod"]').change(updateRealChargeMoney);		

		updateRealChargeMoney();											
	});
	
	// 쿠폰입력 onchange 쿠폰입력시 사용가능쿠폰 자동 검증 후 결제기능 노출
	function couponInsertOnBlur(){
		let couponCode = $("#coupon-code").val(); 
		let couponStatus = $('#coupon-status').val();
		if(couponCode == '' || couponCode == null || couponStatus == '1')  {
			$("#request-pay-button").show();
		} else {
			$('#onchange-check-coupon').html('쿠폰검사를 클릭해주세요.').css('color', 'green');
			$('#check-coupon').click(function(){
				$('#onchange-check-coupon').hide();
			});
			$("#request-pay-button").hide();
		}
	}

	//사용가능한 쿠폰 validation 
	function couponCheck() {
		let couponCode = $("#coupon-code").val();
		$.ajax({
			type: 'GET',
	  		url: '/charge/check-available-coupon?couponCode=' + couponCode,
	  		dataType: 'json',															
	  		success: function(couponUseDto) {
				console.log(couponUseDto.result);
		        if (couponUseDto.result == '1') {
		          $('#result-check-coupon').html('사용 가능한 쿠폰입니다. 쿠폰이 적용되었습니다.').css('color', 'green');
		          $('#coupon-status').val('1');
		          $('#coupon-code').attr('readonly',true);
 				  $('#check-coupon').prop('disabled', true);
		          $("#request-pay-button").show();
		  	      
		  	      // 가져온 쿠폰액을 #coupon-discount에 할당
		  	      $('#coupon-discount').val(couponUseDto.couponValue);
		  	      
		  	      //  직접 입력한 금액에서 json으로 받아온 쿠폰의 값을 차감
		  	      let realChargeMoney =   $('#real-charge-money').val();
		  	      let chargePaymentMoney = realChargeMoney-couponUseDto.couponValue;
		  	      
		  	      // 차감한 값을 다시 chargeMoney에 할당, 할당
		  	      $('#real-charge-money').val(chargePaymentMoney);
	
		        } else {
			      $('#coupon-status').val('0');
		          $('#result-check-coupon').html('사용이 불가능한 쿠폰입니다. 쿠폰을 재입력 후 쿠폰검사를 눌러주세요').css('color', 'red');
		          $('#coupon-code').val('').trigger('focus');
		          $('#coupon-status').val('').trigger('focus');

		          $("#request-pay-button").hide();
		          
		       }
	       },
	       error: function() {
	         alert("잘못된 접근입니다");
	       }
		});  
	}	/* /couponCheck() */
	
	// IMP
	// IMP 객체를 초기화 
	var IMP = window.IMP; 			
		IMP.init("imp44174547"); 	

    function requestPay() {
    	
    	let subchargeMoney = $('#real-charge-money').val();			 
    	if (subchargeMoney <= 0) {
    		alert("충전금액은 0원 초과이어야 합니다.");
    	    console.error("Error: 충전금액은 0원 초과이어야 합니다.");
    	    return;
    	} 
    	
    	let pay_method = ''; 
    	let chargerNo = '';  
    	let paymentMethod = $('input[name="paymentMethod"]:checked').val();
    	let realChargeMoney = $('#real-charge-money').val();
    	let couponCode = $('#coupon-code').val();
		
		console.log("충전 금액 : " + realChargeMoney);
		console.log("쿠폰 번호 : " + chargerNo);
		console.log("결제 방법 : " + $("input[name='paymentMethod']:checked").val());
		
		if (paymentMethod == '휴대폰') {
			pgSelect = 'danal';			    
		    pay_method = 'phone';
		} else if (paymentMethod == '상품권') {
			pgSelect = 'tosspayments';
		    pay_method = 'cultureland';
		} else if (paymentMethod == '신용카드') {
			pgSelect = 'html5_inicis';
		    pay_method = 'card';
		} else if (paymentMethod == '계좌이체') {
			pgSelect = 'nice';
		    pay_method = 'trans';
		}
		
       IMP.request_pay({
    	   
           pg : pgSelect,								
           pay_method : pay_method, 					// 지불 수단
           name : 'panda충전',							// 상품 명
           amount : realChargeMoney,					// 가격 숫자 타입
           buyer_name : '',
           buyer_email : '',
           buyer_tel : '',
           buyer_addr : '',
           buyer_postcode : '',
           custom_data : couponCode
           
       }, function (rsp) { 								// callback
           if (rsp.success) {
                console.log("rsp : ", rsp);
                alert("rsp.success 결제가 완료되었습니다.");
                chargeSubmit(rsp);
                
           } else {
               console.log('rsp', rsp);
               alert("rsp.fail 결제가 취소되었습니다. 주의사항을 참고해주세요.");
           }
       });
	}	/* /requestPay() */

	function chargeSubmit(rsp) { 
		console.log("chargeSubmit Start...");
		
		let couponCode = rsp.custom_data;
		let realChargeMoney = $('#real-charge-money').val();
		let chargeBamboo = $('#charge-bamboo').val();
	    let paymentMethod = rsp.pay_method;
	    
	    if (paymentMethod === 'phone') {
	    	paymentMethod = '휴대폰';
		} else if (paymentMethod === 'cultureland') {
			paymentMethod = '상품권';
		} else if (paymentMethod === 'card') {
			paymentMethod = '신용카드';
		} else if (paymentMethod === 'trans') {
			paymentMethod = '계좌이체';
		}
	    
		console.log("rsp.success chargeSubmit couponCode : ", couponCode);
		console.log("rsp.success chargeSubmit chargeMoney : ", realChargeMoney);
		console.log("rsp.success chargeSubmit pay_method : ", paymentMethod);
		console.log("rsp.success chargeSubmit chargeBamboo : ", chargeBamboo);
		
	    if ($('#coupon-status').val() == '1') {
	    	alert("쿠폰이 적용되었습니다.");
	        
	        $.ajax({
	            url: "/charge/charge", 
	            type: "POST", 
	            data: JSON.stringify({
	            						couponCode	  : couponCode,
	            						//chargeMoney	  : realChargeMoney,
	            						paymentAmount : realChargeMoney,
	            						paymentMethod : paymentMethod,
	            						chargeBamboo  : chargeBamboo
					}),
				contentType: 'application/JSON',						
				dataType: "json", 									
	            success: function(data) { 							
	                console.log("chargeSubmit() AJAX 요청 성공: ", data);
	                alert("충전 성공");
	                setTimeout(function() {
	                location.replace("/charge/"); 					// redirect
		            }, 2000); 										// 2초 후 이동
	            },
	            error: function(data) { 							
	                console.error("chargeSubmit() AJAX 요청 실패: ");
	                alert("충전 실패 다시 시도해주세요");
	                location.replace("/charge/");
	            }
	        });
	        
	    } else {
	        if (couponCode == null && realChargeMoney > '0') {
	        	console.log("chargeSubmit else 시작");
	              
	   	        $.ajax({
	                   url: "/charge/charge", 
	                   type: "POST",
	                   data: JSON.stringify({
	                   						chargeMoney	  : realChargeMoney,
	                   						paymentMethod : paymentMethod,
	                   						chargeBamboo  : chargeBamboo
						}),
						contentType: 'application/JSON',						
						dataType: "json", 									
	                    success: function(data) { 							
	                        console.log("chargeSubmit() AJAX 요청 성공: ", data);
	                        location.replace("/charge/"); 				
	                    },
	                    error: function() {
	                   	    console.error("chargeSubmit() AJAX 요청 실패: ");
	                        alert("충전 실패 다시 시도해주세요");
	                        location.replace("/charge/");
	                    },
	              
	               });
	               
	        } else {
	            alert("chargeSubmit() 쿠폰검사를 클릭해주세요");
	            return false;
		    }
		}
	
	}	/* /chargeSubmit(rsp) */

//	총 보유 밤부		
	$(function(){
		$.ajax({
			url: "/charge/members/total-bamboo",
			type: "GET",
			dataType: "text",
			success: function(foundTotalBambooStr){
				console.log("Ajax success foundTotalBambooStr : " + foundTotalBambooStr);
				$('#total-bamboo').text(foundTotalBambooStr);	
			},
			error: function(){
				console.error("AJAX 요청 실패: ");
			}
				
		});    
	});
	
	/*
	$(document).ready(function() {
		// 버튼 클릭 이벤트 등록
		$('#charge-container-btn').click(function() {
			// ajax 호출
			$.ajax({
				type: 'GET',
				url: '/charge/', 							// 서버 측 코드가 처리하는 URL
				success: function(data) {
						// 받아온 데이터를 charge-container div에 삽입
						$('#charge-container').show();  
						$('#charge-details-container').hide();
					},
					error: function(error) {
						console.log('ajax error:', error);
				}
			});
		});
		
		// 버튼 클릭 이벤트 등록
		$('#charge-details-btn').click(function() {
			$.ajax({
				type: 'GET',
				url: '/charge/', 
				success: function(data) {
					$('#charge-details-container').show();  
					$('#charge-container').hide();  
				},
				error: function(error) {
					console.log('ajax error:', error);
				}
			});
		});
	});
	 */
	
	 /* 
	 $(function() {		 
			let chargeContainer = $("#charge-container");
			let chargeDetailsContainer = $("#charge-details-container");
			
			let chargeContainerBtn = $("#charge-container-btn");
			let chargeDetailsBtn = $("#charge-details-btn");
			
		
	 		chargeContainerBtn.click(function() {
				chargeContainer.show();
				chargeDetailsContainer.hide();
			});
			
			chargeDetailsBtn.click(function() {
				chargeContainer.hide();
				chargeDetailsContainer.show();
			}); 
			
		});
	  */
	 
	 /* 
		$(function() {		 
			let chargeContainer = $("#charge-container");
			let chargeDetailsContainer = $("#charge-details-container");
			
			let chargeContainerBtn = $("#charge-container-btn");
			let chargeDetailsBtn = $("#charge-details-btn");
			
			// 버튼눌렀을때 작동
			chargeContainerBtn.click(function() {
				alert("chargeContainerBtn.click");
				$("#charge-status").val('0');
				chargeContainer.show();
				chargeDetailsContainer.hide();
			});
			
			chargeDetailsBtn.click(function() {
				alert("chargeDetailsBtn.click");
				chargeContainer.hide();
				chargeDetailsContainer.show();
			});
			
		});
	  */
	  
	  
	  $(function() {		 
			let chargeContainerBtn = $("#charge-container-btn");
			let chargeDetailsBtn = $("#charge-details-btn");
			
			// 버튼눌렀을때 작동
			chargeContainerBtn.click(function() {
				alert("chargeContainerBtn.click");
				$("#charge-status").val('0');
				
			});
			
			chargeDetailsBtn.click(function() {
				alert("chargeDetailsBtn.click");
				$("#charge-status").val('1');
			});
			
		});
	  
	  
	  
	  
	  
	 
	</script>
	
		<!-- 채팅 기능이 필요없는 페이지는 아래 한줄 지워주세요  -->
	<th:block th:replace="/common/script/chat-js :: chatJsFragment"></th:block>
</th:block>

</html>
