<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <h1>로그인페이지</h1>
  <div class="container">
   <form action="/login" method="post">
        <div class="form-group">
            <label for="username">이    름</label>
            <input type="text" name="username" placeholder="이름을 입력하세요"><p>
            <label for="password">password</label>
            <input type="password" name="password" placeholder="password을 입력하세요"><p>
        </div>
        <button type="submit">로그인</button>
    </form><p>
    <a href="/joinForm">User 신규 생성</a><p>  
  
  </div>
</body>
</html>